.loader-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(168, 164, 164, 0.2);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: none;
}

.dots {
  width: 1rem;
  height: 1rem;
  background: #2b8f0d;
  color: #2b8f0d;
  border-radius: 50%;
  box-shadow: 22.4px 0, -22.4px 0;
  animation: dots-u8fzftmd 1s infinite linear alternate;
}

@keyframes dots-u8fzftmd {
  0% {
    box-shadow: 22.4px 0, -22.4px 0;
    background: rgba(43, 143, 13, 0.13);
  }

  33% {
    box-shadow: 22.4px 0, -22.4px 0 rgba(43, 143, 13, 0.13);
    background: rgba(43, 143, 13, 0.13);
  }

  66% {
    box-shadow: 22.4px 0 rgba(43, 143, 13, 0.13), -22.4px 0;
    background: rgba(43, 143, 13, 0.13);
  }
}
