.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-container {
  position: relative;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  cursor: zoom-in;
}

.carousel-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.carousel-image.zoomed {
  transform: scale(1.5);
  cursor: zoom-out;
}

.zoom-icon-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.image-container:hover .zoom-icon-wrapper {
  opacity: 1;
}

.zoom-icon {
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 6px;
  border-radius: 50%;
  pointer-events: auto;
}

/* product accordion styles */
.product-accordion-button {
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #000;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1 !important;
}

.product-accordion-content {
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s ease;
  font-size: 14px;
  @media screen and (max-width: 600px) {
    overflow: auto;
  }
}

.product-accordion-content.open {
  max-height: 300px;
  opacity: 1;
}

.product-accordion-content.closed {
  max-height: 0px;
  opacity: 0;
  padding: 0px 10px;
}

.product-detail-cart-btn {
  @media screen and (max-width: 600px) {
    position: fixed;
    bottom: 0px;
    background-color: white;
    z-index: 1000;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  }
}
