@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-main: #093f1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  li {
    a {
      text-decoration: none;
    }
  }
}
.nav-anchor-link {
  color: var(--primary-main) !important;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    font-weight: 600;
    color: var(--primary-main) !important;
  }
}

.primary-color {
  color: var(--primary-main);
}

.primary-bg {
  background-color: var(--primary-main);
}

.whatsapp-image {
  position: fixed;
  z-index: 9999;
  right: 0px;
  bottom: -4rem;
  margin: 0 2rem 5rem 0;
  transform: scale(0.6);
  @media screen and (max-width: 600px) {
    bottom: -3.5rem;
    right: -2.5rem;
    transform: scale(0.5);
  }
}

.wishlist-card {
  @media screen and (max-width: 600px) {
    padding: 1rem;
  }
}

.button-primary {
  border: 1px solid var(--primary-main);
}

/* globals.css or tailwind.config.js -> safelist this */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
